<div class="col-md-12">


<div class="jumbotron">
  <div class="container ">
    <h1>Flora</h1>      
    <h3>We know what you love...</h3> 
    <h5>Welcome to our hotel!!</h5> 
  </div>
</div>

<div class="AboutUs">
    <div class="container ">
      
      <p>Choose stylish and elegant hotels that are created with you in mind. Enjoy a warm welcome with our inviting ambience and <br>thoughtful touches designed to please. Let our attentive team take care of the small details that make a big difference to your stay in <br>the most desirable of destinations, which combine convenience and individuality.</p>     
      
    </div>
</div>

<div id="slider">
  <figure>
      <img src="assets/fronthd/1.jpeg" alt="First slide">
      <img src="assets/fronthd/2.jpeg" alt="second slide">
      <img src="assets/fronthd/3.jpeg" alt="third slide">
      <img src="assets/fronthd/4.jpeg" alt="second slide">
      <img src="assets/fronthd/5.jpeg" alt="third slide">
  </figure>

</div>
  

</div>