<!-- <website-component></website-component> -->

<!-- <register-component></register-component> -->

<!-- <login-component></login-component> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
  
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="/admin-login">LogIn</a></li>
            
          </ul>
        </div> -->
    </div>
  </nav>
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  