<h1>Admin</h1>

<!-- <div class="row">

  <div class="col-md-1"></div>

  <div class="col-md-4">
    <div class="nav-stacked">
        <ul class="nav nav-pills nav-stacked">
            <li role="navigation"><a href="#" routerLink="/status-component">Status</a></li><br/>
            <li role="presentation"><a href="#" routerLink="/availablerooms-component">Available Rooms</a></li><br>
            <li role="presentation"><a href="#" routerLink="/payment-component">Payment</a></li><br>
            <li role="presentation"><a href="#" routerLink="/employee-component">Employees</a></li><br>
            <li role="presentation"><a href="#" routerLink="/admin-login">Logout</a></li><br>
        </ul>
    </div>
  </div>

  <div class="col-md-7">
    
  </div>

</div>
  -->

  <div class="col-md-4">

      

  <div class="list-group">
    <a href="#" class="list-group-item active" routerLink="/status-component">Status</a>
    <a href="#" class="list-group-item" routerLink="/availablerooms-component">Available Rooms</a>
    <a href="#" class="list-group-item" routerLink="/payment-component">Payment</a>
    <a href="#" class="list-group-item" routerLink="/employee-component">Employees</a>
    <a href="#" class="list-group-item" routerLink="/admin-login">Logout</a>
  </div>

</div>

<div class="col-md-8"></div>
  